@using ACR.Business.Models;
@model OpAddNewMachineModelDTO
@{
    ViewData["Title"] = "AddNewMachine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="~/css/createreservation.css" rel="stylesheet" />
</head>

<body>
	<div class="main-container">
		<div class="filter-section">
			<form asp-controller="Operator" asp-action="AddNewMachine" method="post">
				<div class="filter-options">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<a href=@Url.Action("ViewMachineInfo","Operator")>
							<span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 24px;"></span>
						</a>
					</div>
					<label><strong>Makine Adı:</strong></label>
					<input asp-for="MachineName" value="@Model.MachineName" type="text" class="form-control" />

					<label for="machineStatu">Makine Durumu:</label>
					<select asp-for="MachineStatus" class="form-control" placeholder="Makine Durumu Seçimi">
						<option value="" selected disabled>Seçiniz</option>
						<option value="Aktif">AKTİF</option>
						<option value="Pasif">PASİF</option>
					</select>

					<label for="ItemNo">Item No :</label>
					<input asp-for="ItemNo" value="@Model.ItemNo" class="form-control" placeholder="Item No giriniz." />

					<label for="Tc">TC:</label>
					<input asp-for="TcNumber" value="@Model.TcNumber" class="form-control" placeholder="TC değerini giriniz." />

					<label for="Vp">VP:</label>
					<input asp-for="VpNumber" value="@Model.VpNumber" class="form-control" placeholder="VP değerini giriniz." />

				</div>
				<div class="buttons-section">
					<button type="submit" class="btn btn-outline-primary">Ekle</button>
				</div>
			</form>

		</div>
	</div>

	<script>
		function redirectTo(url) {
			window.location.href = url;
		}
	</script>
</body>

</html>

