@using ASP.WEBUI.Models;
@model OpReservationFilterModel
@{
	ViewData["Title"] = "ManageReservation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@*randevu işlemleri*@
<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="~/css/opmanagereservation.css" rel="stylesheet" />
</head>

<body>
	<div class="main-container">
		<div class="filter-section">
			<form asp-controller="Operator" asp-action="ManageReservation" method="post">
				<div class="filter-options">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<a href=@Url.Action("Index","Operator")>
							<span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 24px;"></span>
						</a>
					</div>
					<label for="machineName">Makine Adı:</label>
					<select id="machineName" name="machineName">
						@*      @foreach (var machineName in ViewBag.MachineNames)
						{
						<option value="@machineName">@machineName</option>
						}*@
					</select>

					<label for="projectName">Proje Adı:</label>
					<input type="text" id="projectName" name="projectName">

					<label for="partName">Parça Adı:</label>
					<input type="text" id="partName" name="partName">

					<label for="recipeCode">Reçete Kodu:</label>
					<input type="text" id="recipeCode" name="recipeCode">

					<label for="recipeCode">Parça Adı:</label>
					<input type="text" id="partName" name="partName">

					<label for="startDate">Başlangıç Tarihi:</label>
					<input type="date" id="startDate" name="startDate">

					<label for="endDate">Bitiş Tarihi:</label>
					<input type="date" id="endDate" name="endDate">

					<label for="startTime">Başlangıç Saati:</label>
					<input type="time" id="startTime" name="startTime">

					<label for="endTime">Bitiş Saati:</label>
					<input type="time" id="endTime" name="endTime">
				</div>
				<div class="buttons-section">
					<button type="submit" class="btn btn-outline-primary">Randevu Ara</button>
				</div>
			</form>

		</div>
		<div class="results-section">
			<div class="top-buttons">
				<button type="button" class="btn btn-outline-secondary">Bilgi Getir</button>
				<button type="button" class="btn btn-outline-success" onclick="#">Randevu Onay</button>
				<button type="button" class="btn btn-outline-danger" onclick="#">Randevu İptal</button>
				<button type="button" class="btn btn-outline-warning" onclick="#">Temizle</button>
			</div>
		</div>
	</div>

	<script>
		function redirectTo(url) {
			window.location.href = url;
		}
				//function filterAppointments() {
				//    // Seçilen filtrelerle ilgili veri çekme ve görüntüleme mantığını burada uygulayın
				//}
	</script>
</body>

</html>