@{
    ViewData["Title"] = "ViewMachineInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


</style>

<body>
    <div class="container container-border">
     <h1>Operatör Makine Bilgileri Görüntüle</h1>
    </div>
</body>
