@using ACR.Business.Models;
@model AdAddNewMachineModelDTO
@{
	ViewData["Title"] = "AddNewMachine";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="~/css/addmachineinfocss.css" rel="stylesheet" />

</head>

<body>
	<div class="main-container">
		<div class="filter-section">
			<form asp-controller="Admin" asp-action="AddNewMachine" method="post">
				<div class="filter-options">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<a href=@Url.Action("ViewMachineInfo","Admin")>
							<span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 24px;"></span>
						</a>
					</div>
					<label><strong>Tezgah Adı:</strong></label>
					<input asp-for="MachineName" value="@Model.MachineName" class="form-control" />

					<label for="machineStatu">Tezgah Durumu:</label>
					<select asp-for="MachineStatus" class="form-control" placeholder="Tezgah Durumu Seçimi">
						<option value="" selected disabled>Seçiniz</option>
						<option value="Aktif">AKTİF</option>
						<option value="Pasif">PASİF</option>
					</select>

					<label for="ItemNo">Item No :</label>
					<input asp-for="ItemNo" value="@Model.ItemNo ??" class="form-control" placeholder="Item No Giriniz." />

					<label for="Tc">TC:</label>
					<input asp-for="TcNumber" value="@Model.TcNumber ?? " TC değeri giriniz."" class="form-control" placeholder="TC Değerini Giriniz." />

					<label for="Vp">VP:</label>
					<input asp-for="VpNumber" value="@Model.VpNumber ?? " VP değeri giriniz."" class="form-control" placeholder="VP Değerini Giriniz." />


				</div>
				<div class="buttons-section">
					<button type="submit" class="btn btn-outline-primary">Tezgah Ekle</button>
				</div>
			</form>

		</div>
	</div>

	<script>
		function redirectTo(url) {
			window.location.href = url;
		}
		window.onload = function () {
			var machineNameInput = document.getElementById('MachineName');

			if (machineNameInput.value === '') {
				machineNameInput.placeholder = "Tezgah Adı Giriniz.";
			}
		};
	</script>
</body>

</html>

