@using ACR.Business.Models;
@model UserLoginModelDTO
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
	<title>Admin Giriş</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/admin/login/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/admin/login/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/admin/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/admin/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/admin/login/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/admin/login/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/admin/login/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/admin/login/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/admin/login/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/admin/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/admin/login/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image:  url(/admin/login/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						ADMİN GİRİS EKRANI
					</span>
				</div>
				@if (TempData["SuccessMessage"] != null)
				{
					<div class="alert alert-success" role="alert">
						@TempData["SuccessMessage"]
					</div>
				}
				<form asp-controller="Admin" asp-action="AdminLogin" method="post" class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Mail Adresi Gerekli!">
						<span class="label-input100">Mail Adresi</span>
						<input class="input100" type="text" name="MailAdress" placeholder="Etkin Mail Adresinizi Giriniz.">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate="Şifre Gerekli!">
						<span class="label-input100">Şifre</span>
						<input class="input100" type="password" name="Password" placeholder="Şifrenizi Giriniz.">
						<span class="focus-input100"></span>
					</div>

					<div>
						<a href="@Url.Action("AdminRegister","Admin")" class="txt1">
							<strong><center>Mevcut Hesabınız yok mu? Hesap Oluştur!</center></strong>
						</a>
					</div>
					<br />
					<div class="flex-sb-m w-full p-b-30">
					
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Beni Hatırla
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Şifremi Unuttum?
							</a>
						</div>
					</div>
			
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
						Giriş Yap
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--===============================================================================================-->
	<script src="~/admin/login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/admin/login/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/admin/login/vendor/bootstrap/js/popper.js"></script>
	<script src="~/admin/login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/admin/login/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/admin/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/admin/login/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/admin/login/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/admin/login/js/main.js"></script>

</body>
</html>