@using ASP.WEBUI.Models;
@model ReCreateReservationModel

@{
    ViewData["Title"] = "CreateReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        padding-top: 0px;
    }

    .pb-3, .py-3 {
        padding-bottom: 7rem !important;
    }
    .reservation-form {
        margin: auto;
        padding: 5px;
        border: 2px solid #e0e0e0;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
        position: relative;
    }

    .form-label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
        color: black;
    }

    .form-control {
        width: 100%;
    }

    .required-note {
        position: absolute;
        right: 0;
        top: 0;
        color: red;
        font-size: 12px;
    }
    .btn {
        font-size: 16px;
        padding: 8px 12px;
        border: 1px solid blue;
    }

    .container {
        width: 100%;
    }
</style>

<body>

    <div class="container reservation-form">


        <div class="d-flex justify-content-between align-items-center mb-3">
            <a href=@Url.Action("Index","Requester")>
                <span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 24px;"></span>
            </a>
        </div>
        <form asp-controller="Requester" asp-action="CreateReservation" method="post">
            <div class="form-group">
                <label for="machineName"><strong>Makine Adı:</strong></label>
                <select id="machineName">
                    @*       @foreach (var machineName in ViewBag.MachineNames)
                    {
                    <option value="@machineName">@machineName</option>
                    }*@
                </select>
            </div>

            <div class="form-group">
                <label class="form-label" for="projectName">Proje Adı:</label>
                <input type="text" class="form-control" id="projectName" name="projectName" required>
                <span class="required-note">*zorunlu alan</span>
            </div>

            <div class="form-group">
                <label class="form-label" for="recipeCode">Reçete Kodu:</label>
                <input type="text" class="form-control" id="recipeCode" name="recipeCode" required>
                <span class="required-note">*zorunlu alan</span>
            </div>

            <div class="form-group">
                <label class="form-label" for="requestNote">Talep Eden Notu:</label>
                <textarea class="form-control" id="requestNote" name="requestNote"></textarea>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="startDate">Başlangıç Tarihi:</label>
                    <input type="date" class="form-control" id="startDate" name="startDate" required>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" for="endDate">Bitiş Tarihi:</label>
                    <input type="date" class="form-control" id="endDate" name="endDate" required>
                </div>
            </div>

                <div class="form-row">
            <div class="form-group col-md-6">
                    <label class="form-label" for="startDate">Başlangıç Saati:</label>
                    <input type="time" class="form-control" id="startTime" name="startTime" required>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" for="endDate">Bitiş Saati:</label>
                    <input type="time" class="form-control" id="endTime" name="endTime" required>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-primary" onclick=#>Randevu Ara</button>
            </div>
        </form>
    </div>
</body>
