@using ACR.Business.Models;
@model EditPasswordViewModelDTO
@{
	ViewData["Title"] = "EditPassword";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Güvenlik İşlemleri</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			background-color: #f8f9fa;
		}

		.container-border {
			border: 2px solid #ced4da;
			border-radius: 10px;
			margin-top: 20px;
			padding: 20px;
			background-color: #fff;
		}

		.form-group {
			margin-bottom: 15px;
		}

		.btn-update {
			background-color: #28a745;
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 10px;
			width: 100%;
		}

		.pb-3, .py-3 {
			padding-bottom: 14rem !important;
		}
	</style>
</head>
<body>
	<div class="container mt-3 container-border">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Güvenlik İşlemleri</h2>
				@if (TempData["SuccessMessage"] != null)
				{
					<div class="alert alert-success" role="alert">
						@TempData["SuccessMessage"]
					</div>
				}
			
				<form asp-action="EditPassword" asp-controller="Account" method="post">
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="OldPassword"></label>
						<input asp-for="OldPassword"  class="form-control" required/>
					</div>

					<div class="form-group">
						<label asp-for="NewPassword"></label>
						<input asp-for="NewPassword" class="form-control" required/>
					</div>

					<div class="form-group">
						<label asp-for="ReNewPassword"></label>
						<input asp-for="ReNewPassword" class="form-control" required />
					</div>

					<button type="submit" class="btn btn-primary">Kaydet</button>

				</form>

			</div>
		</div>
	</div>
</body>
</html>


