<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>@ViewBag.Title - Admin Paneli</title>
	<link href="~/admin/dist/css/styles.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand" asp-controller="Admin" asp-action="Index">Otoklav Rezervasyon Sistemi</a>
		<button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
		<!-- Navbar Search-->
		<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Arama..." aria-label="Search" aria-describedby="basic-addon2" />
				<div class="input-group-append">
					<button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
				</div>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ml-auto ml-md-0">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
					<a class="dropdown-item" href="#">Ayarlar</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="@Url.Action("Index","Home")">Çıkış Yap</a>
				</div>
			</li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">MENÜ</div>
						<a class="nav-link" asp-controller="Admin" asp-action="Index">
							<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
							Yönetim Paneli
						</a>
						<div class="sb-sidenav-menu-heading">İÇERİKLER</div>
						<a class="nav-link" asp-controller="Admin" asp-action="Reservations">
							<div class="sb-nav-link-icon"><i class="fa fa-history"></i></div>
							Rezervasyon Bilgileri
						</a>
						<a class="nav-link" asp-controller="Admin" asp-action="Machines">
							<div class="sb-nav-link-icon"><i class="fa fa-cogs"></i></div>
							Makine Bilgileri
						</a>
						
						<a class="nav-link" asp-controller="Admin" asp-action="Statistics">
							<div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
							İstatislikler
						</a>
						<div class="sb-sidenav-menu-heading">KULLANICILAR</div>
						<a class="nav-link" asp-controller="Admin" asp-action="Users">
							<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
							Kullanıcı Bilgileri
						</a>
					</div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				@RenderBody()
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Tüm Hakları Saklıdır &copy; 2020</div>
						<div>
							<a href="#">Gizlilik Politikası</a>
							&middot;
				
						</div>
					</div>
				</div>
			</footer>
			@RenderSection("Scripts", required: false)
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="~/admin/dist/js/scripts.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script>
		var pendingColor = 'rgba(169, 169, 169, 0.8)'; // Koyu Gri
		var confirmedColor = 'rgba(0, 153, 0, 0.8)'; // Açık Yeşil
		var canceledColor = 'rgba(255, 0, 0, 0.8)'; // Açık Kırmızı

		var ctx = document.getElementById("myPieChart2").getContext('2d');
		var myPieChart = new Chart(ctx, {
			type: 'pie',
			data: {
				labels: ["Beklemede", "Onaylandı", "İptal Edildi"],
				datasets: [{
					data: [@ViewBag?.pendingReservations, @ViewBag?.confirmedReservations, @ViewBag?.canceledReservations],
					backgroundColor: [pendingColor, confirmedColor, canceledColor],
				}],
			},
		});
	</script>

	<script>
		var onColor = 'rgba(0, 153, 0, 0.8)'; // Açık Yeşil
		var offColor = 'rgba(169, 169, 169, 0.8)'; // Koyu Gri

		var ctx = document.getElementById("myPieChart3").getContext('2d');
		var myPieChart = new Chart(ctx, {
			type: 'pie',
			data: {
				labels: ["Aktif", "Pasif"],
				datasets: [{
					data: [@ViewBag?.onMachineCount, @ViewBag?.offMachineCount],
					backgroundColor: [onColor, offColor],
				}],
			},
		});
	</script>

	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
	<script src="~/admin/dist/assets/demo/datatables-demo.js"></script>
</body>
</html>
