
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .pb-3, .py-3 {
    padding-bottom: 6rem!important;
}
</style>
<!-- Slider -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
			<img src="~/img/sliderthree.jpg" class="d-block w-100" alt="Slider 1">
        </div>

    </div>

</div>